body {
    font-family: Arial, sans-serif;
    background-color: #00008B;
    color: yellow;
}
button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 15px;
}

button:hover {
    opacity: 0.8;
}

.login-container {
    width: 50%;
    max-width: 400px;
    margin: 80px auto;
    text-align: center;
    background-color: #6495ED;
    padding: 20px;
    border-radius: 12px;
}

.login-container h2 {
    color: black;
    font-size: 32px;
    margin-bottom: 30px;
}

.login-container label {
    display: block;
    text-align: left;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 5px;
    color: yellow;
}

.login-container input[type="text"],
.login-container input[type="email"],
.login-container input[type="password"] {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 6px;
    margin-bottom: 15px;
}

.login-container input[type="submit"] {
    width: 100%;
    margin-top: 10px;
}
