.caja {
  position: absolute;
  border: 2px dotted black;
  padding: 10px;
  width: 500px;
  height: 500px;
  left: 35%;
}

.caja1 {
  border: 2px solid red;
  padding: 10px;
  margin-bottom: 5px;
  background-color: #ffe4c4;
}

.fila-medio {
  display: flex;
  margin-bottom: 5px;
}

.caja2 {
  border: 2px solid blue;
  padding: 10px;
  width: 80px;
  height: 200px;
  margin-right: 5px;
  background-color: #ffe4c4;
}

.caja3 {
  border: 2px solid green;
  padding: 10px;
  height: 380px;
  flex: 1;
  background-color: #ffe4c4;
}

.caja4 {
  border: 2px solid orange;
  padding: 10px;
  background-color: #ffe4c4;
}